* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, sans-serif;
}

/* hero section (header) */

#header {
    width: 100vw;
    background-color: #1F2937;
}

.header-container {
    width: 80%;
    margin: auto;
}

.nav-tab,
.hero-text,
.nav-link a {
    font-size: 18px;
    color: #E5E7EB;
}

/* nav bar */
.nav-tab {
    display: flex;
    justify-content: space-between;
    padding-block: 12px;
}

.nav-tab p {
    font-size: 24px;
    font-weight: 600;
}

.nav-link {
    display: flex;
    gap: 20px;
} .nav-link a {
    text-decoration: none;
    word-spacing: -1px;
}

/* hero container */
.hero-container {
    display: flex;
    justify-content: space-between;
    margin-block-start: 100px;
    padding-bottom: 100px;
}

.hero-text {
    width: 40%;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.image-placeholder {
    background-color: #5A5A6F;
    border: 1px solid #F9FAF8;
    border-radius: 10px;
    font-size: 24px;
    color: #F9FAF8;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text p {
    margin-block: 20px;
}

.hero-text a {
    background-color: #3882F6;
    color: #F9FAF8;
    text-decoration: none;
    padding: 8px 35px;
    display: inline-flex;
    border-radius: 8px;
}


/* section-1 */
#section-1 {
    width: 80%;
    margin: auto;
    /*border: 1px solid;*/
    padding-bottom: 100px;
}

#section-1 h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-top: 35px;
    margin-bottom: 35px;
}

.container-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.box-container {
    width: 155px;
}

.box-shape {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 8px;
}

.box-container p {
    text-align: center;
    margin-top: 10px;
}


/* section-2 (quote section) */
#section-2 {
    background-color: #E5E7EB;
    font-size: 24px;
}

.quote-container {
    width: 45%;
    margin: auto;
    padding-block: 70px;
}

.quote-container p {
    text-align: right;
    font-weight: 600;
}

/* cta (call to action) */
.cta-container {
    background-color: #3882F6;
    width: 75%;
    border-radius: 8px;
    margin: 60px auto;
    padding-block: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cta-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cta-text p,
.cta-text h2 {
    color: #E5E7EB;
}

.cta-container a {
    color: #E5E7EB;
    text-decoration: none;
    border: 3px solid;
    border-radius: 8px;
    padding: 5px 15px;
}

/* footer */
#footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding-block: 40px;
    text-align: center;
}