* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, sans-serif;
}

/* hero section (header) */

#header {
    width: 100vw;
    background-color: #1F2937;
}

.header-container {
    width: 80%;
    margin: auto;
}

.nav-tab,
.hero-text,
.nav-link a {
    font-size: 18px;
    color: #E5E7EB;
}

/* nav bar */
.nav-tab {
    display: flex;
    justify-content: space-between;
    padding-block: 12px;
}

.nav-link {
    display: flex;
    gap: 20px;
} .nav-link a {
    text-decoration: none;
    word-spacing: -1px;
}

/* hero container */
.hero-container {
    display: flex;
    justify-content: space-between;
    margin-block: 100px;
    padding-bottom: 100px;
}

.hero-text {
    width: 40%;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.image-placeholder {
    background-color: #5A5A6F;
    border: 1px solid #F9FAF8;
    border-radius: 10px;
    font-size: 24px;
    color: #F9FAF8;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text p {
    margin-block: 20px;
}

.hero-text a {
    background-color: #3882F6;
    color: #F9FAF8;
    text-decoration: none;
    padding: 8px 35px;
    display: inline-flex;
    border-radius: 8px;
}